services:
  client:
    build:
      context: ./client
    command: ["sh", "-c", "npm ci --legacy-peer-deps || npm install --legacy-peer-deps && npm run dev -- --host --port 5173"]
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - VITE_API_BASE=http://localhost:8080
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
    - ./api/.env
    command: ["go", "run", "main.go"]
    ports:
      - "8080:8080"
    working_dir: /app
    volumes:
      - ./api:/app
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis


  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  pgdata:
